*{
    padding: 0;
    margin: 0;
    
}



.conteiner{
    width: 100%;
    margin-top: 5%;
    padding-bottom: 5%;
    height: auto;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

form{
    
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.333);
    max-width: 350px;
    width: 90%;
    
}

form h4{
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

.div-salvar{
    padding-left: 10px;
    padding-right: 10px;
}

.salvar{
    background-color: #0fde24;
    margin-bottom: 20px;
    width: 100%;
    
}

.salvar:hover{
    background-color: rgb(38, 176, 51);
   
}






.dynamicFields ul  {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

.blocks{
    display: flex;
    
}

.blocks .btn{
    margin-left: 5px;
}

.form-select{
    display: flex;
    flex-grow: 1;
}



.title-blocks{
    display: flex;
    padding: 0;
    margin: 0;
    padding-left: 15px;
}

.title-blocks p{
    display: flex;
    flex-grow: 1;
    padding: 0;
    margin: 0;
    align-items: center;
}

.title-blocks .btn{
    padding: 5px;
    margin-right: 10px;
}